
.dropdown-menu{
  max-height: 75vh;
  overflow-y:scroll;
  background-color: #0f3c4c;
  
}
.dropdown-toggle::after {
  display: none;
}

.esri-layer-list__item {
  background-color: #0f3c4c;
  
}
.esri-layer-list__item-toggle{
  color: white;
}
.dropdown-menu{
  color:white;
}
.dropdown-item{
  color: white;
  font-size: smaller;
}
.esri-editor__snapping-controls-popover{
  display: none;
}


.esri-editor__message{
  color: white;
}
.esri-widget__heading{
  display:none;
}
.esri-popup__header-title{
  border-radius: 2px;
  font-size: 14px;
  padding: 6px 7px;
  margin: 6px auto 6px 7px;
  display: block;
  transition: background-color 125ms ease-in-out;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  word-break: break-word;
}
.esri-editor__panel-content{
  background-color: #0f3c4c;
}
.esri-editor__panel-toolbar__snapping-button{
  display: none;
}
/* .esri-editor__update-features-action-buttons--button{
  display: none; 
} */
.esri-legend__service{
  background-color: #0f3c4c;
}
.esri-legend__layer-cell .esri-legend__layer-cell--info{
  color: white;
}
.esri-item-list__filter-container--sticky{
  display: none;
}
.esri-layer-list__item--invisible-at-scale .esri-layer-list__item-title {
  color: gray;
}
.esri-basemap-gallery__item-title{
  color: white;
}

.esri-layer-list__item-title {
  font-size:smaller;
}
#editwin{
  background-color: #0f3c4c;
}

.layerListText {
  font: white;
}
.row {
  height: 95vh;
}
.tbuttons {
  font-size: smaller;
  background-color: #0f3c4c;
  white-space: nowrap;
  /* min-width: 270px; */
  max-height: 40px;

}


#tools {
  flex-grow: 1;
  min-height: 10vh;
  background-color: #071e26;


}
#header {
  background-color: #071e26;
  text-align: center;
  height: 5vh;
  color: white;
  font-size: medium;
  width: 100vw;
}

#main{
  /* max-height: 100vh; */
  /* height: 100vh; */
  height: calc(var(--vh, 1vh)*100);

}

#viewDiv {
  flex-grow: 1;
  min-height: 80vh;
  padding: 0px;

}
#layerlist {
  padding: 3px;
  background-color: #0f3c4c;
}
#bmapgall {
  padding: 3px;
  background-color: #0f3c4c;
}

@media (min-width: 576px){
  #tools{
    max-width: 240px;
    text-align: center;
  }
  .tbuttons {
    width: 210px;
  }
  #mobileonly{
    display: hidden;
  }
}

@media(max-width:575.98){

}
